{% extends "base.html" %}

{% block title %}Ownership Statistics - SkiStats{% endblock %}

{% block content %}
<style>
    .main-content {
        max-width: 800px;
        margin: 60px auto;
        padding: 0 20px;
    }
  
    h1 {
        font-size: 2.8rem;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: #111;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 0.5rem;
        letter-spacing: -0.03em;
    }
  
    .subheading {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 300;
        color: #555;
        margin-bottom: 3rem;
    }
  
    h2 {
        font-size: 1.75rem;
        font-weight: 400;
        color: #1a1a1a;
        margin-top: 4rem;
        margin-bottom: 1rem;
        padding-bottom: 0.25rem;
        border-bottom: 1px solid #eee;
    }
  
    p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #2c2c2c;
        margin-bottom: 1.8rem;
    }
  
    .chart-container {
        max-width: 100%;
        margin: 40px auto;
        padding: 20px 0;
    }

    .chart-container-2 {
        max-width: 95%;
        height: auto;
        display: block;
        margin: 0px auto;
        padding: 20px 0;
    }

    @media (min-width: 1400px) {
    .chart-container-2 {
        max-width: 80%;

        }
    }
  
    .chart-caption {
        font-size: 0.9rem;
        color: #777;
        text-align: center;
        margin-top: 8px;
        font-style: italic;
    }

    .contact-link {
            color: #8396ff;
            text-decoration: none;
            font-weight: 500;
            border-bottom: 1px solid transparent;
            transition: border-color 0.2s ease;
    }
        
    .contact-link:hover {
            border-bottom-color: #8396ff;
    }
  </style>
  
  <h1>Corporate-Owned vs Independent Resorts</h1>
<p class="subheading">Is the sentiment of corporate greediness backed by the data?</p>

<div class="main-content">
  <hr style="margin: 40px 0; border: none; border-top: 1px solid #eee;">
  <p>
    There's a lot of negative sentiment about corporations buying up ski resorts and raising prices, so I wanted to examine the data and see how these corporate-owned resorts compare to the independent resorts across the U.S.
  </p>

  <p>
    In the following analysis, Vail Resorts is highlighted as it is by far the largest ski corporation and has been the target of the most criticism. New York State is also included as an owner since they operate three resorts, but it should be treated as its own category that is neither independent nor corporate.
  </p>

  <p>
    The first metric to start understanding how different resorts are priced is the average ticket price for each ownership group:
  </p>

  <div class="chart-container">
    <img src="{{ url_for('static', filename='avg_price_by_owner.svg') }}"
         alt="Average Price by Owner"
         style="width: 100%; height: auto; display: block;" />
  </div>

  <p>
    As expected, big corporations price their tickets significantly higher than independent resorts—sometimes several times higher. But this doesn’t really say much about how overpriced they are.
  </p>

  <p>
    Corporate-owned ski resorts tend to be much larger, with better lifts and more amenities, so they also require a lot more money to run. Ideally we’d normalize ticket prices according to all of these factors, but there are just too many factors that are impossible to measure.
  </p>

  <p>
    Still, there are at least a few relevant metrics that are easily accessible and mostly accurate; skiable acres and lift count for example. These should both have a strong relationship to price, and the following graph shows that. Instead of average price, it displays average acres and average lift count
    for each owner.
  </p>

</div>

<div>
    <img class="chart-container-2" src="{{ url_for('static', filename='avg_combined_by_owner.svg') }}"
         alt="Average Lift/Acres by Owner"/>
</div>

  <div class="main-content">
    <p>
      Although the order isn't exactly the same as before, the trend still follows what we would expect. Independent resorts are towards the bottom of the size ranking and Vail is somewhere in the middle.
    </p>
    <p>
      To get a slightly better sense of value, lets look at the normalized prices using the acreage and lift data. Do guests have to pay more per acre of skiable terrain or per lift?
    </p>

  </div>

  <div>
    <img class="chart-container-2" src="{{ url_for('static', filename='savg_price_normalized_by_owner.svg') }}"
         alt="Average Price per Lift/Acres by Owner"/>
  </div>

  <div class="main-content">
    <p>
      When we look at price per skiable acre and price per lift, the picture shifts. Independent resorts are actually priced higher than Vail when using this metric. If I had to guess, this is due to the number of very small independent resorts with only a couple of groomed trails. These resorts still need snowmaking, grooming, and lift infrastructure, which are all very expensive to set up and maintain. Larger resorts in the West are also able to advertise thousands of acres of
      ungroomed bowls and glades, which gives them a much larger acreage than any resort in the Midwest or East where most of the independent resorts are.
    </p>
    <p>
      Additionally, the graph for price per lift doesn't differentiate between types of lift. This means that a resort with only magic carpets is treated the same as one with only high-speed lifts, which can obviously make the results less meaningful.
    </p>
    <p>
      To get a more complete picture, we can use a regression model that takes into account all the relevant features we have that should influence ticket price. These include: vertical drop, slope length, skiable acreage, annual snowfall, total lift count, and detailed lift types like gondolas, carpets, and detachable quads.
    </p>
    <p>
      Owner is not included as a feature in the model because we want to use the model to see how actual prices compare to what the model expects, regardless of ownership. That way we can test whether certain ownership groups consistently charge more or less than they should, given the resort’s stats.
    </p>
    <div class="chart-container">
      <img src="{{ url_for('static', filename='price_prediction_scatter.svg') }}"
           alt="Price Prediction Scatterplot"
           style="width: 75%; height: auto; display: block; margin: auto;" />
    </div>
    <p>
      The model has an R² of 0.79, which isn’t particularly high, but it does suggest a strong relationship between resort characteristics and ticket price. The average prediction is $22 off, which is reasonably accurate when prices range from $0 to $350. In the scatterplot above, each dot represents a resort. Dots above the diagonal line are resorts that are more expensive than the model predicts, while dots below are underpriced. Vail does appear to have more resorts above the line, but it’s difficult to draw any strong conclusions from the scatterplot alone.
    </p>

    <p>
      If you want to look at individual resorts on this plot and see which ones are the most overpriced, you can look at my analysis of the best value resorts <a href="{{ url_for('stats_value') }}" class="contact-link">here</a>.
    </p>
    <p>
      To dig deeper, we can look at the residuals — the difference between actual and predicted ticket prices — and average them by owner.
    </p>
    <div class="chart-container">
      <img src="{{ url_for('static', filename='avg_residual_by_owner.svg') }}"
           alt="Price Prediction Residual"
           style="width: 100%; height: auto; display: block; margin: auto;" />
    </div>
    <p>
      According to this model, Vail’s resorts are on average $8 more expensive than what would be expected. Independent resorts are $2 underpriced on average, while New York State-run resorts are heavily underpriced by $36. This suggests that Vail does tend to charge more than expected, and independents slightly less, but the difference isn’t massive. New York’s pricing strategy likely has more to do with the fact that it’s government-operated and not trying to maximize profit like the others.
    </p>
    <p>
      Aspen Skiing Company stands out as the most overpriced group by far, with ticket prices averaging more than $50 over what the model predicts. This isn’t surprising given that all of their resorts are located in Aspen, a destination known more for its luxury than its affordability.
    </p>
    <p>
      While Vail and other corporate resorts are clearly more expensive and deserve scrutiny for many of their practices, it's worth remembering that running a ski area is incredibly costly. And as winters keep getting milder, more resorts are now relying almost entirely on snowmaking, which requires massive infrastructure, water, and energy. No matter who owns the resort, skiing is likely to remain an expensive hobby.
    </p>
    <p>
      Also keep in mind that none of this analysis considers season passes like the Epic or Ikon pass. Large ski companies probably put a lot of effort into optimizing their ticket pricing strategy across both day tickets and season passes, so that could influence pricing in ways this model doesn't capture.
    </p>
  </div>
  
{% endblock %}
